/.vs/
/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
/Visual Studio 2022/
/Build/
/Plugins/VehicleSystemPlugin/VehicleSystemPlugin/Binaries/
/Plugins/VehicleSystemPlugin/VehicleSystemPlugin/Intermediate/
/Plugins/VehicleSystemPlugin/VehicleSystemPlugin/Resources/
